@using System.Collections.Specialized
@using Sitecore.Mvc

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<JonathanRobbins.xTendingxDB.Models.ContentShowcase.Banner>


<section class="banner" background="@Model.Image.Src">
    <div class="banner__content">
        <h2 class="banner__title">@Editable(x => x.Title)</h2>
        <div class="banner__text">
            @Editable(x => x.Strapline)
        </div>
        @Html.Raw(@GlassHtml.RenderLink(Model, banner => banner.Link, new NameValueCollection { { "class", "banner__link btn btn--ghost" } }, true))
    </div>
    @* <div class="banner__image">
        @Html.Raw(GlassHtml.RenderImage(Model, banner => banner.Image, null, true))
    </div> *@
</section>

