@using JonathanRobbins.xTendingxDB.Products.Entities
@using JonathanRobbins.xTendingxDB.ViewModels
@using Sitecore.Mvc

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<JonathanRobbins.xTendingxDB.ViewModels.ProductDetailsVM>

<h2>@Editable(Model, vm => vm.Title)</h2>

<h3>@Model.PriceString</h3>

<h4>@Model.Sku</h4>

<p>@Editable(Model, vm => vm.Type)</p>
<div>
    @foreach (Faction faction in Model.Factions)
    {
        <img src="@faction.ImageUrl" alt="@faction.Title" width="80" height="80" />
        <p>@faction.Title</p>
    }
</div>

@{
    bool? imagesPresent = Model.ImageGallery?.Images?.Any();
    if (imagesPresent.HasValue && imagesPresent.Value)
    {
        <a href="#" class="js-image-gallery-tracking" data-product-title="@Model.Title" data-product-sku="@Model.Sku" data-gallery-id="@Model.ImageGallery.Id" data-factions="@string.Join(",", Model.Factions.Select(f => f.Title))" data-product-type="@Model.Type">View image gallery</a>
        <div>
            <h3></h3>
            @foreach (var image in Model.ImageGallery.Images)
            {
                <img src="@image.Key" alt="@image.Value" width="300" height="300"/>
            }
        </div>
    }
}

<div>
    @Editable(Model, vm => vm.Description)
</div>
<q>
   @Editable(Model, vm => vm.Quote)
</q>

