@using JonathanRobbins.xTendingxDB.Products.Entities
@using JonathanRobbins.xTendingxDB.ViewModels
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<JonathanRobbins.xTendingxDB.ViewModels.ProductListingVM>>

<h2>Ships</h2>

@foreach (ProductListingVM product in Model)
{
    <h3>@Editable(product, vm => vm.Title)</h3>
    <p>@Editable(product, vm => vm.Type)</p>
    foreach (Faction faction in product.Factions)
     {
         <img src="@faction.ImageUrl" alt="@faction.Title" width="80" height="80"/>
    }

    <div>
        @Editable(product, vm => vm.Summary)
    </div>
    <div>
        @product.Image
    </div>
    <p>
        @product.PriceString
    </p>
    <a href="@product.Brochure.Url" class="js-brochure-tracking js-goal-tracking" 
       data-product-title="@product.Title" data-product-sku="@product.Sku"
       data-brochure-title="@product.Brochure.Title" data-brochure-id="@product.Brochure.Id" 
       target="_blank" >Brochure</a>

    <a href="@product.ProductDetailsUrl" title="View">View</a>
}

