@using JonathanRobbins.xTendingxDB.Products.Entities
@using JonathanRobbins.xTendingxDB.ViewModels
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<JonathanRobbins.xTendingxDB.ViewModels.ProductListingVM>>

<div class="product-listing">
    <div class="product-listing__inner">
        <h2 class="product-listing__title">Ships</h2>
        @foreach (ProductListingVM product in Model)
        {
            <div class="product">

                <div class="product__details">
                    @foreach (Faction faction in product.Factions)
                    {
                    <img src="@faction.ImageUrl" alt="@faction.Title" width="80" height="80" class="product__icon" />
                    }
                    <h3 class="product__title">@Editable(product, vm => vm.Title)</h3>
                    <div class="product__cat-price-container">
                        <span class="product__type">@Editable(product, vm => vm.Type)</span>
                        <span class="product__price">
                            @product.PriceString
                        </span>
                    </div>
                    <p class="product__summary">
                        @Editable(product, vm => vm.Summary)
                    </p>
                    <div class="product__button-container">
                        <a href="@product.Brochure.Url" class="btn btn--red product__brochure-btn js-brochure-tracking js-goal-tracking"
                           data-product-title="@product.Title" data-product-sku="@product.Sku"
                           data-brochure-title="@product.Brochure.Title" data-brochure-id="@product.Brochure.Id"
                           target="_blank">Brochure </a>
                        <a href="@product.ProductDetailsUrl" class="btn btn--green product__view-btn" title="View">View</a>
                    </div>
                </div>

                <div class="product__images">
                    <div class="product__main-image">
                        @product.Image
                    </div>
                </div>
            </div>
        }
    </div>
</div>