@using JonathanRobbins.xTendingxDB.Products.Entities
@using JonathanRobbins.xTendingxDB.ViewModels
@using Sitecore.Mvc

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<JonathanRobbins.xTendingxDB.ViewModels.ProductDetailsVM>

<section class="product-detail">
    <div class="product-detail__banner">
        <div class="product-detail__banner-inner">
            <div class="product-detail__faction">
                @foreach (Faction faction in Model.Factions)
            {
                    <img src="@faction.ImageUrl" alt="@faction.Title" class="product-detail__faction-icon" width="80" height="80" />
                    <p class="product-detail__faction-title">@faction.Title</p>
                }
            </div>

            <h1 class="product-detail__title">@Editable(Model, vm => vm.Title)</h1>

            <p class="product-detail__price">@Model.PriceString</p>
            <div class="product-detail__quick-summary">
                <span class="product-detail__sku">@Model.Sku</span>
                <span class="product-detail__type">@Editable(Model, vm => vm.Type)</span>
            </div>
        </div>
    </div>
    @{
        bool? imagesPresent = Model.ImageGallery?.Images?.Any();
        if (Model.ImageGallery != null && Model.ImageGallery.Images.Any())
        {
            <div class="product-detail__button-container">
                <a href="#" class="js-image-gallery-tracking btn btn--ghost product-detail__btn"
                   data-product-title="@Model.Title"
                   data-product-sku="@Model.Sku"
                   data-gallery-id="@Model.ImageGallery.Id"
                   data-factions="@string.Join(",", Model.Factions.Select(f => f.Title))" data-product-type="@Model.Type">
                    View image gallery
                </a>
            </div>
            <div class="product-detail__gallery">
                <div class="product-detail__gallery-inner">
                    @foreach (var image in Model.ImageGallery.Images)
                {
                        <div class="product-detail__gallery-item">
                            <img src="@image.Key" alt="@image.Value" width="640" height="340" class="product-detail__gallery-image" />
                        </div>
                    }
                </div>
            </div>
        }
    }
</section>

<div class="bod-copy">
    <div class="body-copy__inner">
        @Editable(Model, vm => vm.Description)
    </div>
</div>
<blockquote class="quote">
    <q>
        @Editable(Model, vm => vm.Quote)
    </q>
</blockquote>

